.schedule__button button {
    font-family: var(--header-font);
    font-size: 1rem;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.schedule__button button:hover {
    background-color: var(--primary-color-dark);
}
  
.schedule__button button.active {
    background-color: var(--text-dark);
    color: var(--white);
}